@using FungeyeApp.Models;

@{
    ViewBag.Title = "IdentifyMushrooms";
}

<form action="/Mushroom/FilterResults" method="post">
    <select name="CapChar">
        <option value="null" selected></option>
        @foreach (var CapChar in ViewBag.CapChars)
        {
            <option value="@CapChar">@CapChar</option>
        }
    </select>
    <select name="CapColor">
        <option value="null" selected></option>
        @foreach (var CapColor in ViewBag.CapColors)
        {
            <option value="@CapColor">@CapColor</option>
        }
    </select>
    <select name="Stem">
        <option value="null" selected></option>
        @foreach (var Stem in ViewBag.Stems)
        {
            <option value="@Stem">@Stem</option>
        }
    </select>
    <input type="submit" value="Filter" />
</form>

<h2>IdentifyMushrooms</h2>
<form action="../Home/UploadImage" method="post">
    <table class="table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Species</th>
            <th>Common Name</th>
            <th>Cap Characteristic</th>
            <th>Cap Color</th>
            <th>Stem</th>
        </tr>

        @foreach (var Shrooms in ViewBag.MushroomList)
        {
            <tr>
                <td>
                    <a href="/Mushroom/ListSpecificMushroom?MushroomID=@Shrooms.MushroomID" ><img src="@Shrooms.PictureURL" style="height:130px; width: 130px"/></a>
                </td>
                <td>
                    #@Shrooms.MushroomID
                </td>
                <td>
                    @Shrooms.Species
                </td>
                <td>
                    @Shrooms.CommonName
                </td>
                <td>
                    @Shrooms.CapChar
                </td>
                <td>
                    @Shrooms.CapColor
                </td>
                <td>
                    @Shrooms.Stem
                </td>
                <td>
                    Is this the mushroom you picked? <input type="radio" name="MushroomID" value="@Shrooms.MushroomID" />
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Upload Image" />
</form>

Don't see your mushroom? <a href="/Mushroom/AddMushroomToDB" >Add Mushroom</a>