@using FungeyeApp.Models;

@{
    ViewBag.Title = "Identify Mushrooms";
}
<div id="filterOptions">
    <label>Cap Characteristic: </label>
    <select name="CapChar" id="CapChar">
        <option value="null" selected></option>
        @foreach (var CapChar in ViewBag.CapChars)
        {
            <option value="@CapChar">@CapChar</option>
        }
    </select>
    
    <label>Cap Color: </label>
    <select name="CapColor" id="CapColor">
        <option value="null" selected></option>
        @foreach (var CapColor in ViewBag.CapColors)
        {
            <option value="@CapColor">@CapColor</option>
        }
    </select>

    <label>Stem: </label>
    <select name="Stem" id="Stem">
        <option value="null" selected></option>
        @foreach (var Stem in ViewBag.Stems)
        {
            <option value="@Stem">@Stem</option>
        }
    </select>

    <input type="button" class="btn btn-primary" id="filterButton" value="Filter" />
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#filterButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/Mushroom/FilterResults",
                data: '{CapChar: "' + $("#CapChar").val() + '", CapColor:"' + $("#CapColor").val()+ '", Stem:"' + $("#Stem").val()+'"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#mushroomTable").html("")
                        //var th = ("<tr>" +
                        //"<th></th>" +
                        //"<th>ID</th>" +
                        //"<th>Species</th>" +
                        //"<th>Common Name</th>" +
                        //"<th>Cap Characteristic</th>" +
                        //"<th>Cap Color</th>" +
                        //"<th>Stem</th>" +
                        //"<th></th>" +
                        //"</tr>")
                        $("#mushroomTable").append();
                    for (var i = 0; i < response.length; i++) {
                        var Mushroom = response[i];
                        var tr = "<div class='col-sm-4'> <div class='panel panel-default'>";
                        var td1 = ("<div class='panel-heading'>" + "<h3 class='panel-title mushroomID'>" + "<b>Mushroom ID: </b>" + " #"+ Mushroom.MushroomID + "</h3></div>");
                        var td2 = ("<div class='panel-body bounding-box'> <div class='thumbnail'>" + "<a href=/Mushroom/ListSpecificMushroom?MushroomID=" + Mushroom.MushroomID + " >" + "<img class='img-responsive' src='" + Mushroom.PictureURL + "' style= 'height: 200px; width: 200px; '/>" + "</a>" + "</div>");
                        var td3 = ("<p class='text-left mushroomSpecies'>" + "<b>Species Name: </b>" + Mushroom.Species + "</p><br />");
                        var td4 = ("<p class='text-left mushroomName'>" + "<b>Common Name: </b>"  + Mushroom.CommonName + "</p><br />");
                        var td5 = ("<p class='text-left mushroomCapChar'>" + "<b>Cap Characteristic: </b>" + Mushroom.CapChar + "</p><br />");
                        var td6 = ("<p class='text-left mushroomCapColor'>" + "<b>Cap Color: </b>" + Mushroom.CapColor + "</p><br />");
                        var td7 = ("<p class='text-left mushroomStem'>" + "<b>Mushroom Stem: </b>" + Mushroom.Stem + "</p><br />");
                        var td8 = ("<p class='text-left mushroomEdibilitiy' > " + " <b> Mushroom Edibility: </b> " + Mushroom.Edibility + "</p > <br />");
                        var td9 = ("Is this the mushroom you picked? " + "<a href=../Home/UploadImage?MushroomID=" + Mushroom.MushroomID + ">Go!</a>");
                        $("#mushroomTable").append(tr + td1 + td2 + td3 + td4 + td5 + td6 + td7 + td8 + td9 + "</div></div>");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

<h2>IdentifyMushrooms</h2>
    <div class="container" id="mushroomTable">
        <div class="row align-items-center"id="mushroomTable">
           
           </div>
            </div>

Don't see your mushroom? <a href="../Mushroom/AddMushroomToDB" class="btn btn-primary">Add Mushroom</a>