@using FungeyeApp.Models;

@{
    ViewBag.Title = "MushroomView";
}

@*<img src="@ViewBag.Mushroom.PictureURL" style="height:300px; width: 300px"/>*@

<div class="container">
    <div class="row">
        <h2>Create your snippet's HTML, CSS and Javascript in the editor tabs</h2>


        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4>Mushroom Profile</h4></div>
                <div class="panel-body">

                    <div class="box box-info">

                        <div class="box-body">
                            <div class="col-sm-4">
                                <div align="center">
                                    <img alt="Mushroom Pic" src="@ViewBag.Mushroom.PictureURL" id="profile-image1" class="img-rounded img-responsive">

                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;">click here to change profile image</div>
                                    <!--Upload Image Js And Css-->


                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">@ViewBag.Mushroom.Species</h4>
                                <span><p>@ViewBag.Mushroom.CommonName</p></span>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital ">Binomial Name:</div><div class="col-sm-7 col-xs-6 ">@ViewBag.Mushroom.Species</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Common Name:</div><div class="col-sm-7">@ViewBag.Mushroom.CommonName</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Cap Characteristic:</div><div class="col-sm-7"> @ViewBag.Mushroom.CapChar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Cap Color:</div><div class="col-sm-7">@ViewBag.Mushroom.CapColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Stem:</div><div class="col-sm-7">@ViewBag.Mushroom.Stem</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Stem Color:</div><div class="col-sm-7">@ViewBag.Mushroom.StemColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Spore Bearing Surface:</div><div class="col-sm-7">@ViewBag.Mushroom.Hymenium</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Spore Bearing Surface Color:</div><div class="col-sm-7">@ViewBag.Mushroom.HymeniumColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Spore Color:</div><div class="col-sm-7">@ViewBag.Mushroom.SporeColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Ecology:</div><div class="col-sm-7">@ViewBag.Mushroom.Ecology</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Substrate:</div><div class="col-sm-7">@ViewBag.Mushroom.Substrate</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Growth Pattern:</div><div class="col-sm-7">@ViewBag.Mushroom.GrowthPattern</div>
                            <br />
                            @foreach (var userMush in ViewBag.userMushrooms)
                            {
                                <div class="col-sm-5 col-xs-6 tital "><img src="@userMush.PictureURL" /></div><div class="col-sm-7 col-xs-6 "><a href="../Home/GetUserInfo?Id=@userMush.UserID">@userMush.UserID</a></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            }


                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>


                </div>
            </div>
        </div>
        <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
        </script>









    </div>
</div>


