@using FungeyeApp.Models;

@{
    ViewBag.Title = "MushroomView";
}

<head>
    <style>
        img {
            border-radius: 15%;
            border: 2px solid #03b1ce;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4>Mushroom Profile</h4></div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div align="center">
                                    <img alt="Mushroom Pic" src="@ViewBag.Mushroom.PictureURL" style="height: 300px">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <h4 style="color:#00b1b1;">@ViewBag.Mushroom.Species</h4>
                                    <span>@ViewBag.Mushroom.CommonName</span>
                                </div>
                                <br>
                            </div>
                                 <div class="col-sm-6">
                                    <div align="center">
                                        <div id="map" style="width:300px;height:300px" class="map"></div>
                                        <h4 style="color:#00b1b1;">Mushroom ID: #@ViewBag.Mushroom.MushroomID</h4>
                                        <span>Map</span>
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Binomial Name:</div><div class="col-sm-7 col-xs-6 ">@ViewBag.Mushroom.Species</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Common Name:</div><div class="col-sm-7">@ViewBag.Mushroom.CommonName</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Cap Characteristic:</div><div class="col-sm-7"> @ViewBag.Mushroom.CapChar</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Cap Color:</div><div class="col-sm-7">@ViewBag.Mushroom.CapColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Stem:</div><div class="col-sm-7">@ViewBag.Mushroom.Stem</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Stem Color:</div><div class="col-sm-7">@ViewBag.Mushroom.StemColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Spore Bearing Surface:</div><div class="col-sm-7">@ViewBag.Mushroom.Hymenium</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Spore Bearing Surface Color:</div><div class="col-sm-7">@ViewBag.Mushroom.HymeniumColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Spore Color:</div><div class="col-sm-7">@ViewBag.Mushroom.SporeColor</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Ecology:</div><div class="col-sm-7">@ViewBag.Mushroom.Ecology</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Substrate:</div><div class="col-sm-7">@ViewBag.Mushroom.Substrate</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Growth Pattern:</div><div class="col-sm-7">@ViewBag.Mushroom.GrowthPattern</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Edibility:</div><div class="col-sm-7">@ViewBag.Mushroom.Edibility</div>
                            <br />
                        </div>
                    </div>
                    <br />
                    <a href="/Mushroom/UpdateMushroom?MushroomID=@ViewBag.Mushroom.MushroomID" class="btn btn-primary">Update Mushroom</a>
                    <a href="/Mushroom/DeleteMushroom?MushroomID=@ViewBag.Mushroom.MushroomID" class="btn btn-danger" onclick="return confirm("Are you sure?")>Delete Mushroom</a>

                </div>
                @if (ViewBag.userMushrooms != null)
                {
                    foreach (var userMush in ViewBag.userMushrooms)
                    {
                        <div class="col-sm-5 col-xs-6 tital ">
                            <img src="@userMush.PictureURL" style="height: 250px; width:250px; " />
                            
                        </div>
                        <div class="col-sm-7">
                        <b>Email: </b><a href="../Home/GetUserInfo?Id=@userMush.UserID">@userMush.Email</a>
                        @*<b>Name: </b>@ViewBag.User.FirstName;*@
                        </div>
                        <div class="clearfix"></div>
                            <div class="bot-border"></div>
                    }
                }
            </div>

        </div>
        
        <script>
        (function() {

	    window.onload = function() {

		// Creating a new map
		var map = new google.maps.Map(document.getElementById("map"), {
            center: new google.maps.LatLng(44.5577549, -84.600220),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });


		// Creating the JSON data
		var json = @Html.Raw(ViewBag.Json)

		// Creating a global infoWindow object that will be reused by all markers
		var infoWindow = new google.maps.InfoWindow();

		// Looping through the JSON data
		for (var i = 0, length = json.length; i < length; i++) {
			var data = json[i],
				latLng = new google.maps.LatLng(data.lat, data.lng);

			// Creating a marker and putting it on the map
			var marker = new google.maps.Marker({
				position: latLng,
				map: map,
				title: data.title
			});

			// Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
			(function(marker, data) {

				// Attaching a click event to the current marker
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent("<div style='float:left' ><img src='" + data.ImageLink + "' alt='Avatar' style = 'height: 100px; width: 100px;'></div><div style='float:right; padding: 10px; '><b>" + "<b>User: </b>" + "<a href=../Home/GetUserInfo?Id=" + data.UserID + ">" + data.email + "</a><br/>" + "Mushroom ID: #</b>" + data.title + "<br/>" + "<b>Description: </b>" + data.description + "<br/>" + "<b>Location: </b>" + data.address + "<br />" + "</div>");
					infoWindow.open(map, marker);
				});


			})(marker, data);

		}

	}

})();
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.Key&callback=myMap"></script>
        <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
        </script>

    </div>
</div>


