
@{
    ViewBag.Title = "UpdateMushroomForm";
}

<h2>Update Mushroom Form</h2>

<img src="@ViewBag.Mushroom.PictureURL" style="height:300px;width:300px;" />

@Model FungeyeApp.Models.Mushroom
<form action="/Mushroom/SaveUpdatedMushroom" method="post">
    <div class="form-group">
        <label>Mushroom ID#:</label>
        <input type="text" class="form-control" name="MushroomID" value="@ViewBag.Mushroom.MushroomID" readonly>
    </div>
    <div class="form-group">
        <label>Binomial Name:</label>
        <input type="text" class="form-control" name="Species" value="@ViewBag.Mushroom.Species" pattern="^[A-Za-z]{3,} [A-Za-z]{3,}$" title="Invalid Binomial Name" required>
    </div>
    <div class="form-group">
        <label>Common Name:</label>
        <input type="text" class="form-control" name="CommonName" value="@ViewBag.Mushroom.CommonName" pattern="^[A-Za-z ]{3,}$" title="Invalid Name" required>
    </div>
    <div class="form-group">
        <label>Cap Shape:</label>
        <input type="text" class="form-control" name="CapChar" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.CapChar">
    </div>
    <div class="form-group">
        <label>Other Cap Characteristic:</label>
        <input type="text" class="form-control" name="NextCapChar" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.NextCapChar">
    </div>
    <div class="form-group">
        <label>Cap Color:</label>
        <input type="text" class="form-control" name="CapColor" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.CapColor">
    </div>
    <div class="form-group">
        <label>Stem Shape:</label>
        <input type="text" class="form-control" name="Stem" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.Stem">
    </div>
    <div class="form-group">
        <label>Stem Color:</label>
        <input type="text" class="form-control" name="StemColor" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.StemColor">
    </div>
    <div class="form-group">
        <label>Spore Bearing Surface:</label>
        <input type="text" class="form-control" name="Hymenium" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.Hymenium">
    </div>
    <div class="form-group">
        <label>Gill Attachment:</label>
        <input type="text" class="form-control" name="Attachment" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.Attachment">
    </div>
    <div class="form-group">
        <label>Spore Bearing Surface Color:</label>
        <input type="text" class="form-control" name="HymeniumColor" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.HymeniumColor">
    </div>
    <div class="form-group">
        <label>Spore Color:</label>
        <input type="text" class="form-control" name="SporeColor" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.SporeColor">
    </div>
    <div class="form-group">
        <label>Annalus:</label>
        <input type="text" class="form-control" name="Annulus" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.Annulus">
    </div>
    <div class="form-group">
        <label>Ecology:</label>
        <input type="text" class="form-control" name="Ecology" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.Ecology">
    </div>
    <div class="form-group">
        <label>Secondary Ecology:</label>
        <input type="text" class="form-control" name="NewEcology" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.NewEcology">
    </div>
    <div class="form-group">
        <label>Substrate:</label>
        <input type="text" class="form-control" name="Substrate" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.Substrate">
    </div>
    <div class="form-group">
        <label>Growth Pattern:</label>
        <input type="text" class="form-control" name="GrowthPattern" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.GrowthPattern">
    </div>
    <div class="form-group">
        <label>Secondary Growth Pattern:</label>
        <input type="text" class="form-control" name="NewGrowthPattern" pattern="^[A-Za-z ]$" title="Invalid entry" value="@ViewBag.Mushroom.NewGrowthPattern">
    </div>
    <div class="form-group">
        <label>Edibility:</label>
        <input type="text" class="form-control" name="Edibility" value="@ViewBag.Mushroom.Edibility" readonly>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" name="PictureURL" value="@ViewBag.Mushroom.PictureURL">
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Update Mushroom</button>
</form>


