
@{
    ViewBag.Title = "User";
}
@*<h2>User</h2>*@

<head>
    <style>
        .imgAv {
            border-radius: 100%;
            border: 2px solid #03b1ce;
        }
        #imgPic {
            border-radius: 15%;
            border: 2px solid #03b1ce;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 id="center">User Profile</h3></div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            @if (ViewBag.User.Id == ViewBag.CurrentUser)
                            {
                                <br /><div id="center">
                                    @Html.ActionLink("Change Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </div><br />
                            }
                            <div class="col-sm-6">
                                <div align="center">
                                    <img class="imgAv" alt="Avatar" src="http://www.destinyjunkie.com/themes/comb/img/avatar/default-avatar-male_3.png" style="height: 300px">
                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <h4 style="color:#00b1b1;">@ViewBag.User.FirstName @ViewBag.User.LastName</h4>
                                    <span>@ViewBag.User.Email</span>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div align="center">
                                <div id="map" style="width:300px;height:300px" class="map"></div>
                                <h4 style="color:#00b1b1;">Map of @ViewBag.User.FirstName's Observations</h4>
                                <span>Map</span>
                            </div>
                        </div>
                        @if (ViewBag.UserMushrooms != null)
                        {
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">
                            <br /><br /><h3 id="center">@ViewBag.User.FirstName's Findings</h3><br /><br />
                                foreach (var userMush in ViewBag.UserMushrooms)
                                {
                                    <div class="col-sm-5 col-xs-6 tital"><img id="imgPic" src=" @userMush.PictureURL " style="height: 250px; width:250px; "/></div>
                                    <div class="col-sm-7 col-xs-6 ">
                                        <b>Mushroom Common Name: </b><a href="../Mushroom/ListSpecificMushroom?MushroomID=@userMush.MushroomID">@userMush.CommonName</a><br />
                                        @*<b>Mushroom Species Name: </b>@userMush.Species <br />*@
                                        <b>Mushroom ID: </b>#@userMush.MushroomID <br />
                                        @if (userMush.UserID == ViewBag.CurrentUser)
                                        {
                                        <br /><br />
                                        <div class="col-sm-3" id="deleteUserMush"><a href="../Mushroom/DeleteUserMushroom?pictureURL=@userMush.PictureURL" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></div>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                }
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        (function() {

	    window.onload = function() {

		// Creating a new map
		var map = new google.maps.Map(document.getElementById("map"), {
            center: new google.maps.LatLng(44.5577549, -84.600220),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });


		// Creating the JSON data
		var json = @Html.Raw(ViewBag.Json)

		// Creating a global infoWindow object that will be reused by all markers
		var infoWindow = new google.maps.InfoWindow();

		// Looping through the JSON data
		for (var i = 0, length = json.length; i < length; i++) {
			var data = json[i],
				latLng = new google.maps.LatLng(data.lat, data.lng);

			// Creating a marker and putting it on the map
			var marker = new google.maps.Marker({
				position: latLng,
                map: map,
                MushroomID: data.MushroomID
			});

			// Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
			(function(marker, data) {

				// Attaching a click event to the current marker
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent("<div style='float:left' ><img src='" + data.ImageLink + "' alt='Avatar' style = 'height: 100px; width: 100px;'></div><div style='float:right; padding: 10px; '><b>" + "<b>Common Name: </b>" + "<a href=../Mushroom/ListSpecificMushroom?MushroomID=" + data.MushroomID + ">" + data.CommonName + "</a><br/>" + "Mushroom ID#: </b>" + data.MushroomID + "<br/>" + "<b>Description: </b>" + data.description + "<br/>" + "<b>Location: </b>" + data.address + "<br />" + "</div>");
					infoWindow.open(map, marker);
				});
			})(marker, data);
		}
	}
})();
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.Key&callback=myMap"></script>
        <script>
            $(function () {
                $('#profile-image1').on('click', function () {
                    $('#profile-image-upload').click();
                });
            });
        </script>
    </div>




