
@{
    ViewBag.Title = "User";
}

<h2>User</h2>

@*<img src="@ViewBag.Mushroom.PictureURL" style="height:300px; width: 300px"/>*@

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4>User Profile</h4></div>
                <div class="panel-body">

                    <div class="box box-info">

                        <div class="box-body">
                            <div class="col-sm-4">
                                <div align="center">
                                    @*<img alt="Mushroom Pic" src="@ViewBag.Mushroom.PictureURL" id="profile-image1" class="img-rounded img-responsive">*@

                                    @*<input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;">click here to change profile image</div>*@
                                    <!--Upload Image Js And Css-->


                                </div>

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">@ViewBag.User.FirstName @ViewBag.User.LastName</h4>
                                <span>@ViewBag.User.Email</span>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            @foreach(var userMush in ViewBag.UserMushrooms )
                            {                            
                            <div class="col-sm-5 col-xs-6 tital "><img src=" @userMush.PictureURL " style="height: 250px; width:250px; "/></div><div class="col-sm-7 col-xs-6 "><a href="../Mushroom/ListSpecificMushroom?MushroomID=@userMush.MushroomID">@userMush.CommonName</a></div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            }
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>


                </div>
            </div>
        </div>
        <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});
        </script>
    </div>
</div>

@Html.ActionLink("Update User Info", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })



